
@import "../../node_modules/bootswatch/flatly/variables";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../../node_modules/bootswatch/flatly/bootswatch";
@import "../../node_modules/font-awesome/scss/font-awesome";

body{
  padding-top: 74px;
}

// Workaround
table,
.table {
  a {
    text-decoration: none;
  }
  a:not(.btn) {
    text-decoration: none;
  }
}

.voffset-top10 { margin-top: 10px; }
.voffset-top20 { margin-top: 20px; }
.voffset-top30 { margin-top: 30px; }
.voffset-top40 { margin-top: 40px; }
.voffset-top50 { margin-top: 50px; }
.voffset-top60 { margin-top: 60px; }
.voffset-top70 { margin-top: 70px; }
.voffset-top80 { margin-top: 80px; }
.voffset-top90 { margin-top: 90px; }

.voffset-bottom10 { margin-bottom: 10px; }
.voffset-bottom20 { margin-bottom: 20px; }
.voffset-bottom30 { margin-bottom: 30px; }
.voffset-bottom40 { margin-bottom: 40px; }
.voffset-bottom50 { margin-bottom: 50px; }
.voffset-bottom60 { margin-bottom: 60px; }
.voffset-bottom70 { margin-bottom: 70px; }
.voffset-bottom80 { margin-bottom: 80px; }
.voffset-bottom90 { margin-bottom: 90px; }
