/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 * require_tree .
 * require_self
 *
 */

@import "bootswatch-scss/flatly/variables.scss";
@import "bootstrap-sass-official/bootstrap-sprockets.scss";
@import "bootstrap-sass-official/bootstrap.scss";
@import "bootswatch-scss/flatly/bootswatch.scss";
@import "font-awesome-sprockets";
@import "font-awesome";

body{
  padding-top: 74px;
}

// Workaround
table,
.table {
  a {
    text-decoration: none;
  }
  a:not(.btn) {
    text-decoration: none;
  }
}

.voffset-top10 { margin-top: 10px; }
.voffset-top20 { margin-top: 20px; }
.voffset-top30 { margin-top: 30px; }
.voffset-top40 { margin-top: 40px; }
.voffset-top50 { margin-top: 50px; }
.voffset-top60 { margin-top: 60px; }
.voffset-top70 { margin-top: 70px; }
.voffset-top80 { margin-top: 80px; }
.voffset-top90 { margin-top: 90px; }

.voffset-bottom10 { margin-bottom: 10px; }
.voffset-bottom20 { margin-bottom: 20px; }
.voffset-bottom30 { margin-bottom: 30px; }
.voffset-bottom40 { margin-bottom: 40px; }
.voffset-bottom50 { margin-bottom: 50px; }
.voffset-bottom60 { margin-bottom: 60px; }
.voffset-bottom70 { margin-bottom: 70px; }
.voffset-bottom80 { margin-bottom: 80px; }
.voffset-bottom90 { margin-bottom: 90px; }
