
/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  /* padding: 20px; */
}
@media (min-width: 768px) {
  .main {
    padding-right: 0px;
    padding-left: 0px;
    /* padding-right: 40px; */
    /* padding-left: 40px; */
  }
}
.main .page-header {
  margin-top: 0;
}

.talk{
    :hover{
        background: #eee;
    }
    min-height: 50px;
    position: relative;
    .avatar{
        position: absolute;
        top: 5px;
        left: 30px;
    }
    .message{
        padding-left: 60px;
        .filtered_text{
            font-size: 1.1em;
        }
        .timeleft{
            padding-right: 20px;
        }
    }
}
.main{
    position: relative;
}
.say{
    position: fixed;
    bottom: 0;
    right: 0;
    width: inherit;
    padding: 10px 20px;
    textarea{
        width: 100%;
        height: k0px;
    }
    background: #f9f9f9;
    border-top: 1px solid #ddd;
}
